@use 'variables.module.scss' as *;

.outerBox {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.rightBox {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex: 5;
}

.languageButton {
  position: absolute;
  bottom: 3vh;
  left: 3vh;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: $primary-color;
  border: none;
  font-size: 1.5em;
  opacity: 50%;
  cursor: pointer;
}

.languageButton:hover {
  opacity: 100%;
}
